<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "画像:" %>
  </div>
  <div class="col-4">
    <%= form.file_field :image, accept: "image/*" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "夢:" %>
  </div>
  <div class="col-4">
    <%= form.text_field :dream %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "達成日:" %>
  </div>
  <div class="col-4">
    <%= form.text_field :period %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "フリー(意気込み):" %>
  </div>
  <div class="col-4">
    <%= form.text_area :detail %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "カテゴリー:" %>
  </div>
  <div class="col-4">
    <%= form.text_field :category %>
  </div>
</div>