<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label :image, "画像 :", class: "form_label" %>
  </div>
  <div class="col-md-4">
    <%= form.file_field :image, accept: "image/*", class: "form-control-file" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label :dream, "夢 :", class: "form_label" %>
  </div>
  <div class="col-md-4">
    <%= form.text_field :dream, class: "form-control-sm" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label :countdown , "達成日 :", class: "form_label" %>
  </div>
  <div class="col-md-4">
    <%= form.datetime_field :countdown, value: Time.current.strftime('%Y-%m-%dT00:00:00') %>
      <!--<input type="text" id="userYear" >年
      <input type="text" id="userMonth">月
      <input type="text" id="userDate" >日-->
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label :detail, "フリー(意気込み) :", class: "form_label" %>
  </div>
  <div class="col-md-4">
    <%= form.text_area :detail, size: "40x3", class: "form-control" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label :category, "カテゴリー :", class: "form_label" %>
  </div>
  <div class="col-md-4">
    <%= form.text_field :category, class: "form-control-sm" %>
  </div>
</div>