<div class="container mt-4 mb-4">
  <div class="text-right">
    <%= form_tag(searches_path, method: :get) do %>
      <%= text_field_tag :search, "", placeholder: "テキスト"%>
      <%= submit_tag '検索', :dream => nil %>
    <% end %>
  </div>
  <%= render "dream_lists/new_button" %>
  <h2 class="text-white" >Many Dreams</h2>
    <div class="row">
      <%= render "dream_lists/index", dream_lists: @dream_lists %>
      <%= render "dream_lists/category", dream_lists: @dream_lists %>
    </div>
    <div class="mx-auto">
      <%= paginate @dream_lists %>
    </div>

    <!--モーダル実装(編集画面)-->
    <!--バック黒い部分-->
    <div id="mask" class="hidden"></div>
    <!--モーダル部分-->
    <div id="modal" class="hidden">
      <%= render "dream_lists/edit", dream_list: @dream_list %>
    </div>

    <!--モーダル実装(新規投稿)-->
    <!--バック黒い部分-->
    <div id="back_mask" class="new_hidden"></div>
    <!--モーダル部分-->
    <div id="new_modal" class="new_hidden">
      <%= render "dream_lists/new", dream_list: @dream_list %>
    </div>
</div>
