<div class="container mt-4 mb-4">
  <div class="text-right">
    <%= link_to "+dream", new_dream_list_path, class: "btn btn-secondary btn-sm" %>
  </div>
  <h2>Many Dreams</h2>
    <div class="row">
      <div class="col-md-9">
        <table class="table table-striped text-white">
          <thead>
            <tr>
              <th></th>
              <th>夢</th>
              <th>達成日</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @dream_lists.each do |dream_list| %>
            <tr>
              <td><%= check_box_tag '', '' %></td>
              <td><%= link_to dream_list.dream, dream_list_path(dream_list.id) %></td>
              <td>
                <%= dream_list.countdown %>

                <p id="CountDownTime" ></p>
                <script>
                function showCountdown() {
                 // 現在日時を数値に変換
                 var nowDate = new Date();
                 var dnumNow = nowDate.getTime();

                 // 指定日時を数値に変換
                 var inputYear = document.getElementById("countdown").value;
                 var inputMonth = document.getElementById("countdown").value - 1;
                 var inputDate = document.getElementById("countdown").value;
                 var dnumTarget = targetDate.getTime();

                 // 引き算して残日数を計算
                 var diffMSec = dnumTarget - dnumNow;
                 var diffDays = diffMSec / ( 1000 * 60 * 60 * 24 );
                 var showDays = Math.ceil( diffDays ); // 小数点以下を切り上げる

                 // 表示
                 var Msg;
                 if( showDays >= 0 ) {
                    Msg = "あと " + showDays + "日";
                 }
                 else {
                    Msg = "達成日は " + (showDays * -1) + "日前に過ぎました。";
                 }

                 document.getElementById("CountDownTime").innerHTML = Msg;
                 document.getElementById("countdown.id").value = targetDate;
                }
                </script>
              </td>
              <td>
                <%= link_to edit_dream_list_path(dream_list) do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to dream_list_path(dream_list), method: :delete, data: { confirm: '削除しますか？' } do %>
                  <i class="fas fa-eraser"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <p>カテゴリー</p>
          <% @dream_lists.each do |dream_list| %>
            <i class="fas fa-tag"></i>
            <%= link_to dream_list.category, search_dream_list_path(keyword: dream_list.category) %>
          <% end %>
      </div>
    </div>
    <div class="mx-auto">
      <%= paginate @dream_lists %>
    </div>
</div>
