<div class="container mt-4 mb-4">
  <div class="card col-sm-8 mx-auto">
    <div>
      <%= image_tag @dream_list.get_image, class: "dream_list_image" %>
    </div>
    <div class="card-body text-body">
    <h3><%= link_to @dream_list.dream, dream_list_path(@dream_list.id), class: "text-body" %></h3>
    <p><%= @dream_list.countdown %></p>
    <div class="card-text text-body"><%= @dream_list.detail %></div>
    <div class="text-right">
      <i class="fas fa-caret-right"></i>
      <%= link_to @dream_list.category, search_dream_list_path(keyword: @dream_list.category), class: "text-body" %>
    </div>
    </div>
  </div>
</div>