<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "ユーザー名:" %>
  </div>
  <div class="col-4">
    <%= form.text_field :name %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "メールアドレス:" %>
  </div>
  <div class="col-4">
    <%= form.text_field :email %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "パスワード:" %>
  </div>
  <div class="col-4">
    <%= form.text_field :password %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "パスワード(確認用):" %>
  </div>
  <div class="col-4">
    <%= form.text_field :password_confirmation %>
  </div>
</div>
