<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "ユーザー名:",  class: "form_label" %>
  </div>
  <div class="col-4">
    <%= form.text_field :name, class: "form-control-sm" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "メールアドレス:",  class: "form_label" %>
  </div>
  <div class="col-4">
    <%= form.text_field :email, class: "form-control-sm" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "パスワード:", class: "form_label" %>
  </div>
  <div class="col-4">
    <%= form.text_field :password, class: "form-control-sm" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "パスワード(確認用):",  class: "form_label" %>
  </div>
  <div class="col-4">
    <%= form.text_field :password_confirmation, class: "form-control-sm" %>
  </div>
</div>
