<div class="form-group">
  <%= label :title, "スケジュール：" %>
  <%= form.text_field :title, class: "form-control-sm" %>
</div>
<div class="form-group">
  <%= label :content, "内容：" %>
  <%= form.text_area :content, size: "40x2", class: "form-control" %>
</div>
<div class="form-group">
  <%= label :start_time, "日付：" %>
  <%= form.datetime_select :start_time, class: "form-control" %>
</div>
