<div class="container mt-4 mb-4">
  <h2 class="text-white">Work Schedule</h2>
  <div class="row">
    <div class="col-md-3 mt-3">
      <%= render "plans/error_message", plan: @plan %>
      <%= form_with model: @plan, local: true do |form| %>
        <div class="form-group">
          <%= label :title, "スケジュール：" %>
          <%= form.text_field :title, class: "form-control-sm" %>
        </div>
        <div class="form-group">
          <%= label :content, "内容：" %>
          <%= form.text_area :content, size: "40x2", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label :start_time, "日付：" %>
          <%= form.datetime_select :start_time, class: "form-control"  %>
        </div>
          <%= button_tag :type => "submit", :class =>"btn-sm btn-default" do %>
            <i class="fas fa-caret-right"></i>Sign up
          <% end %>
      <% end %>
    </div>
    <div class="col-md-9 mt-3">
      <%= month_calendar events: @plans do |date, plans| %>
        <%= date.day %>
        <% plans.each do |plan| %>
          <p class="plan_title">
            <%= plan.title %>
          </p>
        <% end %>
      <% end %>
    </div>
    </div>
    <table class="table text-white">
      <thead class="thead-light">
        <tr>
          <th class="text-body", style="width: 20%">日付</th>
          <th class="text-body", style="width: 20%">スケジュール</th>
          <th class="text-body", style="width: 36%">内容</th>
          <th class="text-body", style="width: 2%"></th>
          <th class="text-body", style="width: 2%"></th>
        </tr>
      </thead>
      <tbody>
        <%= render "plans/plan", plans: @plans  %>
      </tbody>
    </table>
    <%#= paginate @plans, class: "text-white" %>

    <!--モーダル実装-->
    <!--バック黒い部分-->
    <div id="mask" class="hidden"></div>
    <!--モーダル部分-->
    <div id="modal" class="hidden">
      <div class="card mx-auto col-lg-6 shadow p-3 bg-white">
        <h2>Schedule Change</h2>
          <%= form_with model: @plan, method: :patch, local: true do |form| %>
            <div class="ml-3 mt-3">
              <div class="form-group">
                <%= label :title, "スケジュール：", class: "form_label" %>
                <%= form.text_field :title, class: "form-control-sm" %>
              </div>
              <div class="form-group">
                <%= label :content, "内容：", class: "form_label" %>
                <%= form.text_area :content, size: "40x2", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= label :start_time, "日付：", class: "form_label" %>
                <%= form.datetime_select :start_time, class: "form-control"  %>
              </div>
             　<div class="mt-3 text-center">
                <%= button_tag :type => "submit", :class =>"btn-sm btn-default" do %>
                  <i class="fas fa-caret-right"></i>Update
                <% end %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
</div>
