<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "仕事:",  class: "form_label" %>
  </div>
  <div class="col-4">
    <%= form.text_field :work, class: "form-control-sm" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "生活:",  class: "form_label" %>
  </div>
  <div class="col-4">
    <%= form.text_field :life, class: "form-control-sm" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4">
    <%= form.label "人間関係:", class: "form_label" %>
  </div>
  <div class="col-4">
    <%= form.text_field :relationships, class: "form-control-sm" %>
  </div>
</div>
